@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primer-color: #000000;
    --segundo-color: #f6f6f6;
    --tercer-color: #22D4FD;
    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
    --booton-color: #434444;
}


*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: var(--primer-color);
    color: var(--segundo-color);
    height: 100vh;
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;

}

.header_menu{
    display: flex;
    gap: 80px;
}

.header_menu_link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--tercer-color);
    text-decoration: none;
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 6% 15%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion_imagen{
    width: 50%;
}

.presentacion_contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.titulo-destaque{
    color: var(--tercer-color)
}

.presentacion_contenido_texto{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion_enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_enlases_subtitulo{
    font-family: var(--fuente-krona);
    font-weight: 400;
    font-size: 1.5rem;
}


.presentacio-enlaces-link{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600px;
    text-decoration: none;
    color: var(--segundo-color);
    border: 2px solid var(--tercer-color);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacio-enlaces-link:hover{
    background-color: var(--booton-color);
}

.footer{
    background-color: var(--tercer-color);
    padding: 24px;
    color: var(--primer-color);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {

    .header{
        padding: 10%;
    }

    .header_menu{
        justify-content: center;
    }

    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion_contenido{
        width: auto;
    }
}